/*!
Version: 1.0.0
Theme Name: Astra hijo
Template: Astra
Description: The Astra WordPress theme is lightning-fast and highly customizable.
License URI: https://www.gnu.org/licenses/gpl-3.0.html
Text Domain: astra-hijo
*/
